@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Black";
    src: url("../fonts/SourceSansPro-Black.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Bold";
    src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); 
    font-weight: bolder;
    font-style: normal;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: "Source Sans Pro";
}
.box {
    position: relative;
    min-height: 100%;
    padding-top: 95px;
    background-image: url("../image/bg-small.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.main { 
    position: relative;
    max-width: 1230px;
    padding-bottom: 76px;   
    border-radius: 5px;
    background-color: #ebebeb;   
}

/******** logo ********/

.logo {
    position: relative;
    top: -50px;
    width: 260px;
    border-radius: 5px;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;     
}
.site-name {
    margin: 0;
    color:  #373435;
    font-family: "Source Sans Black";    
    font-size: 4.0rem;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: 105px;
    text-align: center;    
    text-transform: uppercase;
}
.arrow {
    color:  #ed3237;
    font-size: 1.4rem;
    font-weight: bold;
}

/******** menu ********/
.menu {
    width: 100%;
    margin: 0px 0 40px 0;
}
.menu-container {
    width: 100%;
    padding: 0;
    margin:  0px auto;
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin-right: 40px;
    padding: 10px 0;
    border: 1px solid #d2d2d2;
    border-left-color: transparent;
    border-right-color: transparent;
    text-transform: uppercase;    
}
.menu-item a {
    text-decoration: none;
    color:  #909090;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-container .active {
    color:  #ed3237;
}

/********  banner *******/
.banner {
    margin-bottom: 50px;
}
.banner-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: -9px 10px 1px 0px rgba(0, 0, 0, 0.1);
}

/**************  main-news ***********/
.main-news {
    width: 100%;
    margin: 0 0 50px 0;
}
.caption {
    margin: 10px 0;
    color:  #373435;
    font-family: "Source Sans Bold"; 
    text-align: center;    
    text-transform: uppercase;
} 
.text {
    margin: 0;
    color:  #676364;
    font-family: "Source Sans Pro";
    font-weight: normal;
    text-align: center;    
}
.read-more {
    position: relative;
    margin-top: 60px;
    padding-left: 4px;
}
.decor-elem {
    /*display: inline-block;
    width: 43.5%;*/
    height: 17px;
    background-image: url("../image/decor-elem.png");
    background-repeat: repeat-x;
}
.read-more-btn {
    position: relative;
    bottom: 10px;
    /*display: inline-block;
    width: 120px;*/
    height: 38px;
   /* margin: 0 14px;*/
    /*border: 0;*/
    /*background-color: #ed3237;*/
    /*border-radius: 5px;*/
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.12);
    /*color:  #ebebeb;*/
    /*font-family: "Source Sans Bold"; */   
    font-size: 1.6rem;    
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

/**************  tools ***********/
.tools {
    width: 100%;
    font-size: 0;
    padding-bottom: 60px;
    border-bottom: 1px solid #c2c2c2;
}
.tools-item {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    vertical-align: bottom;
}
.tools-item:last-child {
    margin-right: 0;
}
.tools-icon-box {
    position: relative;
    display: inline-block;
    width: 18.9%;
    height: 70px;
    margin-top: 5px;
    margin-right: 8.1%;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #373435;  
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);    
    vertical-align: top;    
}
.tools-icon {
    color: #ebebeb;
    font-size: 4.0rem; 
    text-align: center;
    line-height: 70px;
}
.tools-content-box {
    display: inline-block;
    width: 72%;
}
.tools .text {
    margin-bottom: 60px;    
}
.tools-item .caption {
    display: inline-block;
    width: 75%;
    margin: 0 0 20px 0;
    font-size: 1.6rem;
    text-align: left;
}
.tools-item  .text {
    position: relative;
    height: 50px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify; 
}
.tools-item  .text:before {
    content: '...';
    line-height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ececec;
}
.tools-item  .text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: #ececec;
}
.more-info {
    color:  #373435;
    font-family: "Source Sans Bold";
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
}

/**************  news ***********/
.news {
    width: 100%;
    font-size: 0;
    padding-bottom: 70px;
    border-bottom: 1px solid #c2c2c2;
}
.news .caption {
    margin: 50px 0 10px;
}
.news .text {
    margin-bottom: 50px;
}
.news-item {
    position: relative;
    height: 100%;
    padding: 40px 0 30px 0;
    margin-right: 2.5%;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #e2e2e2;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);
}
.news-item:first-child {
    margin-left: 110px;
}
.news-item .caption {
    margin: 0 20px 0 30px;
    font-family: 'Source Sans Bold';
    color:  #373435;
    font-size: 1.6rem;
    text-align: left;
}
.news-img {
    width: 100%;
    height: auto;
    margin: 20px 0 25px 0;
}
.news-item .text {
    position:relative;
    display: block;
    height: 66px;
    margin: 0 20px 25px 30px;
    color:  #676364;
    font-family: 'Source Sans Pro';    
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify; 
    line-height: 17px;
}
.news-item  .text:before {
    content: '...';
    line-height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
}
.news-item .text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: #e2e2e2;
}
.news-item .more-info {
    margin-left: 30px;
}

/**************  products ***********/
.products {
    margin: 40px 0 0 0;    
}
.products-link {
    display: block;
    margin: 25px auto 35px auto;
    color:  #ed3237;
    font-family: 'Source Sans Bold';    
    font-size: 1.6rem;    
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}
.products-tabs {
    /*width: 37%;*/
    margin-bottom: 35px;
    text-align: center;
}
.products-tab {
    display: inline-block;
    width: auto;
    height: 35px;
    padding: 0 25px;
    margin: 0 10px 10px 0;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.12);
    color:  #373435;    
    background-color: transparent;    
    font-family: 'Source Sans Bold';
    font-size: 1.6rem;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.products .read-more {
    margin-top: 0;
}

/**************  footer ***********/
.footer {
    width: 100%;
    height: 132px;
    background-color: transparent; 
    padding-top: 40px;
}
.footer .text {
    margin: 0;
    color:  #ebebeb;
    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

/************ media queries ***********/
@media (min-width: 1230px) and (max-width: 1380px) {
 /*.decor-elem {
  width: 42%;    
 }
}
@media (max-width: 1230px) {
 .decor-elem {
  width: 40%;
 }
 .read-more-btn {
  width: 16%;
  margin-top: 20px;
 }
}

@media (max-width: 1024px){
 .arrow {
  height: 8px;
 }
 .decor-elem {
  width: 34.5%;
 }
 .read-more {
  margin-top: 20px;
 }
 .read-more-btn {
  width: 26%;
 }
 .tools,
 .news {
  padding-bottom: 20px;
 }
 .tools .text,
 .news .text{
  margin-bottom: 20px;
 }
 .tools-item .caption,
 .news-item .caption{
  font-size: 1.4rem;
 }
 .tools-icon {
  font-size: 2.2rem;
 }
 .news-item {
  left: 0;
  width: 31%;
  margin-right: 3%;
  padding: 10px 0;
 }
 .news-img {
  margin: 5px 0;
 }
 .more-info {
  font-size:  1.2rem;
 }
 .products-link {
  margin: 10px auto;
 }
 .products-tabs {
  width: 80%;
  margin-bottom: 20px;
 }*/
}

@media (max-width: 768px) {
 .box {
  padding-top: 30px;
 }
 .main {/*
  width: 95%;*/
  padding: 10px;
 }
 .arrow {
  height: 8px;
 }
 .logo { 
  top: -20px;
  width: 130px;
  margin-left: -65px; 
  font-size: 1.4rem; 
 }
 .site-name {
  font-size: 2.0rem;
  line-height: 40px;
 }
 /*.menu {
  margin: 25px 0 10px;
 }
 .menu-container {
  width: 100%;
  text-align: center;
 }
 .menu-item{
  margin-right: 5px;
  font-size: 1.4rem;
  padding: 5px 0;
 }
 .banner {
  margin-bottom: 20px;
 }
 .banner-img {        
  box-shadow: -2px 4px 1px 0px rgba(0, 0, 0, 0.1);        
 }
 .main-news {
  margin-bottom: 20px;
 }
 .caption {
  margin: 2px 0; 
  font-size: 1.6rem;
 }
 @-moz-document url-prefix() {
  .caption,
  .site-name { 
   font-family: 'Source Sans Bold';
   font-weight: normal;
  }
 }
 .text {
  font-size: 1.2rem;
 }
 .read-more {
  margin-top: 10px;       
 }
 .decor-elem {
  width: 30%;
 }
 .read-more-btn {
  width: 36%;
  height: 25px;
  margin: 0 1%;
  padding: 0 1%;
  box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 1.2rem;
 }
 .tools {
  padding-bottom: 10px;
 }*/
 /*.tools .text {        
  margin-bottom: 10px;
 }
 .tools-item {
  width: 100%;
  margin-bottom: 10px;
 }
 .tools-icon-box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border-top-right-radius: 0;
  box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.1);
 }
 .tools-icon {
    font-size: 2.0rem; 
    line-height: 30px;
 }
 .tools-item .caption {
  margin-bottom: 5px;
  font-size: 1.4rem;
 }
 .tools-item .text {
  margin-bottom: 5px;
  font-size: 1.2rem;
  height: 45px;
 }
 .more-info {
  font-size: 1.2rem;
 }
 .news {
  padding-bottom: 10px;
 }
 .news .caption {
  margin-top: 20px;
 }
 .news .text {
  margin-bottom: 10px;
 }
 .news-item {
  width: 80%;
  left: 10%;
  padding: 5px 0;
  margin: 0 0 15px 0;
 }
 .news-item .caption {
  font-size: 1.4rem;
  margin-top: 5px;
}*/
 /*.news-img {
  margin: 5px 0;
 }
 .news-item .text {
  height: 66px;
  margin-bottom: 5px;   
  font-size: 1.2rem;
  line-height: 17px;
 }
 .products {
   margin-top: 20px;
 }
 .products-link {
  margin: 5px auto;
 }
 .products-tabs {
  width: 100%;
  margin-bottom: 10px;
 }
 .products-tab {
  font-size: 1.2rem;
  line-height: inherit;
 }
 .footer {
  height: 50px;
  padding-top: 10px;
 }
  .footer .text {        
  font-size: 1rem;
  line-height: inherit;
 }
}*/

/*
@media (min-width: 560px) and (max-width: 768px){
 .tools-item .text {
  height: 30px;
 }
}

@media (min-width: 450px) and (max-width: 630px){
 .news-item .text {
  height: 49px;
 }
 .menu-item {
  font-size: 1.6rem;
 }
}

@media (min-width: 630px) and (max-width: 768px){
 .news-item .text {
  height: 30px;
 }
 .menu-item {
  font-size: 1.8rem;
 }
}
*/
