@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Black";
    src: url("../fonts/SourceSansPro-Black.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Bold";
    src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); 
    font-weight: bolder;
    font-style: normal;
}

.box {
    position: relative;
    min-height: 100%;
    padding-top: 95px;
    background-image: url("../image/bg-small.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.main { 
    position: relative;
    max-width: 1230px;
    padding-bottom: 76px;   
    border-radius: 5px;
    --main-bg-c: #ebebeb;
    background-color: var(--main-bg-c);   
}
:root {
    --main-size: 60px;
    --main-fs: 1.6rem;
}
/******** logo ********/
.logo {
    position: relative;
    top: -50px;
    border-radius: 5px;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-c);     
}
.site-name {
    margin: 0;
    color:  #373435;
    font-family: "Source Sans Black";    
    font-size: 4.0rem;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: 105px;
    text-align: center;    
    text-transform: uppercase;
}
.arrow {
    color:  #ed3237;
    font-size: 1.4rem;
    font-weight: bold;
}

/******** menu ********/
.menu {
    margin: 0px 0 40px 0;
}
.menu-container {
    padding: 0;
    margin:  0px auto;
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin-right: 40px;
    padding: 10px 0;
    border: 1px solid #d2d2d2;
    border-left-color: transparent;
    border-right-color: transparent;
    text-transform: uppercase;    
}
.menu-item a {
    text-decoration: none;
    color:  #909090;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-container .active {
    color:  #ed3237;
}

/********  banner *******/
.banner {
    margin-bottom: 50px;
}
.banner-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: -9px 10px 1px 0px rgba(0, 0, 0, 0.1);
}

/**************  main-news ***********/
.main-news {
    margin: 0 0 50px 0;
}
.caption {
    margin: 10px 0;
    color:  #373435;
    font-family: "Source Sans Bold"; 
    text-align: center;    
    text-transform: uppercase;
} 
.text {
    margin: 0;
    color:  #676364;
    font-family: "Source Sans Pro";
    font-weight: normal;
    text-align: center;    
}
.read-more {
    position: relative;
    margin-top: var(--main-size);
    padding-left: 4px;
}
.decor-elem {
    height: 17px;
    background-image: url("../image/decor-elem.png");
    background-repeat: repeat-x;
}
.read-more-btn {
    position: relative;
    bottom: 10px;
    height: 40px;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.12);  
    font-size: var(--main-fs);    
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

/**************  tools ***********/
.tools {
    font-size: 0;
    padding-bottom: var(--main-size);
    border-bottom: 1px solid #c2c2c2;
}
.tools-icon-box {
    position: relative;
    height: 70px;
    margin-top: 5px;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #373435;  
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);    
    vertical-align: top;    
}
.tools-icon {
    color: var(--main-bg-c);
    font-size: 4.0rem; 
    text-align: center;
    line-height: 70px;
}
.tools-content-box {
}
.tools .text {
    margin-bottom: var(--main-size);    
}
.tools-items .caption {
    display: inline-block;
    width: 75%;
    margin: 0 0 20px 0;
    font-size: var(--main-fs);
    text-align: left;
}
.tools-items  .text {
    position: relative;
    height: 50px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify; 
}
.tools-items  .text:before {
    content: '...';
    line-height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ececec;
}
.tools-items  .text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: #ececec;
}
.more-info {
    color:  #373435;
    font-family: "Source Sans Bold";
    font-size: var(--main-fs);
    text-transform: uppercase;
    text-decoration: none;
}

/**************  news ***********/
.news {
    width: 100%;
    font-size: 0;
    padding-bottom: var(--main-size);
    border-bottom: 1px solid #c2c2c2;
}
.news .caption {
    margin: 50px 0 10px;
}
.news .text {
    margin-bottom: var(--main-size);
}
.news-item {
    position: relative;
    height: 100%;
    padding: 40px 0 30px 0;
    margin-right: 2.5%;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #e2e2e2;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 0.1);
}
.news-item:first-child {
    margin-left: 9.4%;
}
.news-item .caption {
    margin: 0 20px 0 30px;
    font-family: 'Source Sans Bold';
    color:  #373435;
    font-size: var(--main-fs);
    text-align: left;
}
.news-img {
    width: 100%;
    height: auto;
    margin: 20px 0 25px 0;
}
.news-item .text {
    position:relative;
    display: block;
    height: 66px;
    margin: 0 20px 25px 30px;
    color:  #676364;
    font-family: 'Source Sans Pro';    
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify; 
    line-height: 17px;
}
.news-item  .text:before {
    content: '...';
    line-height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
}
.news-item .text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: #e2e2e2;
}
.news-item .more-info {
    margin-left: 30px;
}

/**************  products ***********/
.products {
    margin: 40px 0 0 0;    
}
.products-link {
    display: block;
    margin: 25px auto 35px auto;
    color:  #ed3237;
    font-family: 'Source Sans Bold';    
    font-size: var(--main-fs);    
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}
.products-tabs {
    margin-bottom: 35px;
    text-align: center;
}
.products-tab {
    display: inline-block;
    width: auto;
    height: 35px;
    padding: 0 25px;
    margin: 0 10px 10px 0;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.12);
    color:  #373435;    
    background-color: transparent;    
    font-family: 'Source Sans Bold';
    font-size: var(--main-fs);
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.products .read-more {
    margin-top: 0;
}

/**************  footer ***********/
.footer {
    width: 100%;
    height: 132px;
    background-color: transparent; 
    padding-top: 40px;
}
.footer .text {
    margin: 0;
    color:  #ebebeb;
    font-family: 'Source Sans Pro';
    font-size: var(--main-fs);
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

/************ media queries ***********/
@media (max-width: 1024px){
 :root {
  --main-size: 20px; 
  --mani-fs: 1.4rem;
 }
 .arrow {
  height: 8px;
 }
 .tools-icon {
  font-size: 2.2rem;
 }
 .news-item {
  padding: 10px 0;
 }
 .news-img {
  margin: 5px 0;
 }
 .more-info {
  font-size:  1.2rem;
 }
 .products-link {
  margin: 10px auto;
 }
 .products-tabs {
  margin-bottom: 20px;
 }
}
@media (max-width: 768px) {
 :root {
  --main-size: 10px; 
  --main-fs: 1.4rem;
 }    
 .box {
  padding-top: 30px;
 }
 .main {
  padding: 10px;
 }
 .arrow {
  height: 8px;
 }
 .logo { 
  top: -25px;
  font-size: var(--main-fs); 
 }
 .site-name {
  font-size: 2.0rem;
  line-height: 40px;
 }
 .menu {
  margin: 25px -15px 10px -15px;
 }
 .menu-container {
  text-align: center;
 }
 .menu-item{
  margin-right: 5px;
  font-size: var(--main-fs);
  padding: 5px 0;
 }
 .banner,
 .main-news {
  margin-bottom: 20px;
 }
 .banner-img {        
  box-shadow: -2px 4px 1px 0px rgba(0, 0, 0, 0.1);        
 }
 .caption {
  margin: 2px 0; 
  font-size: 1.6rem;
 }
 @-moz-document url-prefix() {
  .caption,
  .site-name { 
   font-family: 'Source Sans Bold';
   font-weight: normal;
  }
 }
 .text {
  font-size: 1.2rem;
 }
 .read-more-btn {
  bottom: 5px;
  height: 25px;
  padding: 0 1%;
  box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 1.2rem;
 }
 .tools-icon-box {
  height: 30px;
  border-radius: 5px;
  border-top-right-radius: 0;
  box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.1);
 }
 .tools-icon {
    font-size: 2.0rem; 
    line-height: 30px;
 }
 .tools-items .caption {
  margin-bottom: 5px;
 }
 .tools-items .text {
  margin-bottom: 5px;
  font-size: 1.2rem;
  height: 45px;
 }
 .news .caption,
 .products{
  margin-top: 20px;
 }
 .news-item {
  padding: 5px 0;
  margin: 0 0 15px 0;
 }
 .news-item:first-child {
  margin-left: 0;
 }
 .news-item .caption {
  margin-top: 5px;
}
 .news-img {
  margin: 5px 0;
 }
 .news-item .text {
  height: 66px;
  margin-bottom: 5px;   
  font-size: 1.2rem;
  line-height: 17px;
 }
 .products-link {
  margin-top: 5px;
  margin-bottom: 5px;
 }
 .products-tabs {
  margin-bottom: var(--main-size);
 }
 .products-tab {
  line-height: inherit;
 }
 .footer {
  height: 50px;
  padding-top: 10px;
 }
  .footer .text {        
  font-size: 1rem;
  line-height: inherit;
 }
}
@media (min-width: 560px) and (max-width: 768px){
 .tools-items .text {
  height: 30px;
 }
}
@media (min-width: 450px) and (max-width: 630px){
 .news-item .text {
  height: 48px;
 }
 .menu-item {
  font-size: 1.6rem;
 }
}
@media (min-width: 630px) and (max-width: 768px){
 .news-item .text {
  height: 30px;
 }
 .menu-item {
  font-size: 1.8rem;
 }
}